body {
    font: normal 18px/1.5 "Helvetica Neue", sans-serif;

    margin: 0;
}

header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid black;
    z-index: 1;
    background-color: white;
}


a {
    text-decoration: none;
}
  
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 200px;

    /* height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center; */
}
  
.container * {
    box-sizing: border-box;
}


.title {
    text-align: center;
}

.fields {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.fields-items {
    /* border: 1px solid lightpink; */
    flex: 1;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.multiple-checkboxes {
    width: 120px;
}


/*** for next button ***/
.btn-div {
    display: flex;
    justify-content: flex-end;
}

.next-btn {
    margin-top: 8px;
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}
.next-btn:hover {
    cursor:pointer;
}


/*** icon ***/
.icon {
    width: 40px;
}
.icon:hover {
    cursor: pointer;
}

.required {
    color: red;
    font-size: 1.5em;
}
